/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

*{
  font-family: 'Open Sans', sans-serif;
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 800 */

/* .open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/******************************************
/* LAYOUT
/*******************************************/
nav, header > h2 {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

ul, li{
  display: flex;
  list-style: none;
  flex-basis: 50%;
}

a{
  text-decoration: none;
  /* Still need to override the colour of anchor tags in each state */
}

.background-img-sec{
  background-image: url("../images/ruben-ramirez-xhKG01FN2uk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(211, 211, 211);
  background-blend-mode: multiply;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 22% 10%;
  color: rgb(226, 226, 226);
}

/* CULTURE BLURB */
.culture-blurb{
  padding: 3em;
  text-align: center;
}

/* SIGNATURE FLAVOURS SECTION */
.signature-flavour-section{
  padding-bottom: 2em;
}
.signature-flavour-section > h2{
  text-align: center;
  padding-bottom: 5%;
}

.signature-flavour-section > ul > li{
  flex-direction: column;
  align-items: center;
}

.coffee-bag-icon{
  max-height: 150px;
  max-width: 10rem;
}

/* PLANT OPTIONS */
#plantOptions{
  display: flex;
  justify-content: space-around;
}

.arrangements, .cut-stems-and-florals, .supplies{
  width: 33.33%;
  position: relative;
  text-align: center;
}

.arrangements-image, .cut-stems-and-florals-image, .supplies-image{
  width: 100%;
  padding: 1em; /* Each image has space between of 2em making the gaps larger */
}

.arrangements-text, .cut-stems-and-florals-text, .supplies-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  font-size: 2em;
}
/* OUR STORY */
.our-story{
  /* display: flex; */
  background-color: rgb(128, 133, 113);
  color: white;
  text-align: center;
  padding: 3em;
}

/* JOIN OUR COMMUNITY */
#joinOurCommunity{
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

#joinOurCommunity > img{
  border: 1px solid black;
  height: 300px;
  width: 450px;
}

.join-our-community-instagram-link-and-blurb{
  padding: 1em;
}


/* FOOTER */
footer {
  border-top: 1px solid black;
  background-color: rgb(128, 133, 113);
  height: 150px;
  display: flex;
  justify-content: space-evenly;
}

/* .ourStory{
  margin-top: 5%;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
