/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* body {

} */


/******************************************
/* LAYOUT
/*******************************************/
nav, header > h2 {
  display: flex;
  justify-content: center;
}

ul, li{
  display: flex;
  list-style: none;
  flex-basis: 50%;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 5%;
}

.samplePackSection{
  display: flex;
  flex-direction: column;
}

.samplePackSection, .signatureFlavourSection, main, .aboutUs{
  height: 500px;
} 

footer {
  border-top: 2px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
