/* Box Model Hack */
/* * {
  box-sizing: border-box;
}

/* Clear fix hack */
/* .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
} */ */

/******************************************
/* BASE STYLES
/*******************************************/

*{
  font-family: 'Open Sans', sans-serif;
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 800 */

/* .open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/******************************************
/* LAYOUT
/*******************************************/
h1, nav, header > h2 {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  color: white;
}

ul, li{
  display: flex;
  list-style: none;
  flex-basis: 50%;
}

a{
  text-decoration: none;
}

/* Apply white to all anchor tags even if they've already been clicked */
a:visited{
  text-decoration: none;
  color: white
}

.main-background-img-sec{
  background-image: url("../images/ruben-ramirez-xhKG01FN2uk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(211, 211, 211);
  background-blend-mode: multiply;
}

main{
  padding: 27% 10%;
}

/* CULTURE BLURB */
.culture-blurb{
  padding: 3em;
  text-align: center;
}

/* SIGNATURE FLAVOURS SECTION */
.signature-flavour-section{
  padding-bottom: 2em;
}
.signature-flavour-section > h2{
  text-align: center;
  padding-bottom: 5%;
}

.signature-flavour-section > ul > li{
  flex-direction: column;
  align-items: center;
}

.coffee-bag-icon{
  max-height: 150px;
  max-width: 10rem;
}

/* PLANT OPTIONS */
#plantOptions{
  display: flex;
  justify-content: space-around;
}

.arrangements, .cut-stems-and-florals, .supplies{
  width: 33.33%;
  position: relative;
  text-align: center;
}

.arrangements-image, .cut-stems-and-florals-image, .supplies-image{
  width: 100%;
  padding: 1em; /* Each image has space between of 2em making the gaps larger */
}

.arrangements-text, .cut-stems-and-florals-text, .supplies-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  font-size: 2em;
}

/* OUR STORY */
#our-story{
  /* display: flex; */
  background-color: rgb(128, 133, 113);
  color: white;
  text-align: center;
  padding: 5em;
}

.our-story-span{
  font-size: 2em;
}

.our-story-span + h5{
  font-size: 1.5em;
  text-decoration: underline;
}

/* JOIN OUR COMMUNITY */
#joinOurCommunity{
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

#joinOurCommunity > img{
  max-height: 400px;
}

.join-our-community-instagram-link-and-blurb{
  padding-top: 5em;
}

.button-div{
  padding-top: 5%;
}

.follow-button{
  padding: 1em;
  width: 200px;
  border: none;
  border-radius: 500px;
  color: white;
  background-color: rgb(62, 82, 68);
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.follow-button:hover{
  transform: scale(1.04);
  background-color: rgb(122, 161, 133);
}

/* BLOG SECTION */
/* #blog > h3{
  width: 100%;
  text-align: center;
  text-decoration: underline;
} */

.blog-post-previews{
  display: flex;
}

.blog-post-image{
  height: 450px;
  padding: 1em;
  border: 1px solid black;
}

/* FOOTER */
footer {
  border-top: 1px solid black;
  background-color: rgb(212, 144, 75);
  height: 200px;
  display: flex;
  justify-content: space-evenly;
}

#coffeePlantLogo{
  height: 8em;
  padding-top: 2%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
